@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

nav {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(64,64,64);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 23px;
}


body {
  background-color: rgb(18,18,18);
  color: white;
  font-family: 'Comfortaa';
}

#app {
  height: 100vh;
}

main {
  height: 65vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.model-selector,
.man-selector {
  min-width: 10rem;
  background-color: rgb(64,64,64);
  color: white;
  font-family: 'Comfortaa';
  border-radius: 5px;
  padding: 2px;
  margin: .5rem;
}
.model-selector ::selection,
.man-selector ::selection {
  background-color: rgb(179,179,179);
}

.controls {
  width: 28%;
  display: flex;
  flex-direction: column;
}

.flight-control {
  margin-top: auto;
}

.display {
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.similar-container {
  height: 70%;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

.similar-discs-container {
  display: flex;
  overflow: scroll;
  flex-direction: row;
}

.similar-disc {
  margin: 1rem;
}
.spotlight-btn {
  color: rgb(161, 154, 112);
}

.add-to-bag-btn {
  color: rgb(128, 139, 168);
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.control-panel :hover {
  cursor: pointer;
}

.golfer-select {
  margin-left: 3rem;
  margin-top: auto;
  border-radius: 2rem;
}

.title {
  margin-right: auto;
  margin-left: auto;
}

.golf-list-container {
  display: flex;
  flex-flow: column nowrap;
}

.golfers-list {
  overflow: visible;
  background-color: rgb(64,64,64);
  margin-right: 2rem;
  z-index: 999;
  border: solid black 1px;
}

ul {
  background-color: rgb(64,64,64);
}

li {
  margin: .25rem;
  border-radius: 1rem;
}

.add-golfer-input {
  border-radius: 2rem;
}

.disc-bag {
  padding-bottom: 3rem;
}
.disc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 25vw;
}
